@charset "UTF-8";

:root {
	--bili2vrc-video-height: 50vh;
	--bili2vrc-video-width: calc(var(--bili2vrc-video-height) * 16 / 9);
}

#main {
	padding: 0;
}

#main-content {
	height: 50%;
}

#bili2vrc-video {
	display: block;
	margin: 20px auto;
	height: var(--bili2vrc-video-height);
	width: var(--bili2vrc-video-width);
	border-radius: 10px;
	overflow: hidden;
}

#bili2vrc-button-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: var(--bili2vrc-video-width);
	margin: 0 auto;
}

#bili2vrc-page-indicator {
	display: flex;
	justify-content: center;
	gap: 7px;
	width: 100px;
}

#bili2vrc-close-button {
	position: absolute;
	top: 0;
	right: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 30px 0 10px;
}

video {
	box-shadow: 0 5px 10px #00000040;
}